<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tutorials - Pāṇḍitya</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div id="tutorials-container" class="shared-container">
    <h1>Presentation for 19th World Sanskrit Conference (June 2025)</h1>

    <video width="720" height="405" controls poster="/static/video/presentation-19wsc-poster.png">
        <source src="/static/video/presentation-19wsc.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="footer">
      <p>Back to <a href="/about">About</a></p>
      <p>Back to <a href="/">Home</a></p>
    </div>

  </div>
</body>
</html>
